<div class="mobheader">
    <nav class="navi">
        <ul class="list-inline">
            <li><a href="mailto:sale@hemisphere.com"><i class="fa fa-envelope"></i><span>sale@hemisphere.com</span></a>
            </li>
            <li class="enqBtn" id="enqBtn"><a href="javascript:;">Enquiry</a></li>
        </ul>
    </nav>
</div>
<div class="header">
    <div class="container">
        <div class="mainHeader">
            <div class="logo"><a href="index.php"><img src="{% static 'media/image/logo-w.png' %}" alt="The Hemisphere"></a></div>
            <nav class="navi">
                <ul class="list-inline">
                    <li class="lastulmob"><a href="tel:+919990202617"><i class="fa fa-phone-alt"></i><span><strong>+91
                                    9555 977 000</strong></span></a></li>
                    <li class="mob-none"><a href="#"><i class="fa fa-map-marker-alt"></i><span>Plot No. REP 2 sec 27
                                Greater Noida</span></a></li>
                    <li class="mob-none"><a href="mailto:sale@hemisphere.com"><i
                                class="fa fa-envelope"></i><span>sale@hemisphere.com</span></a></li>
                    <li class="mob-none" class="enqBtn" id="enqBtn"><a href="javascript:;">Enquiry</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>